<div class="flex flex-col h-full justify-between items-end pb-3 shadow-md">
  <div class="flex flex-col transition-all" [ngClass]="toggle ? 'w-52' : 'opacity-0 w-0 overflow-hidden '">
    <button class="shadow-sm py-2 px-3 mt-2" (click)="toggleSubmenu()">Compra/Edital/Aviso</button>
    <div class="flex flex-col transition-all duration-200"
      [ngClass]="tootleSubmenu ? 'h-24' : 'h-0 overflow-hidden opacity-0'">
      <a class="py-2 px-3 hover:bg-slate-100" routerLink="auth/listagem">Listagem</a>
      <a class="py-2 px-3 hover:bg-slate-100" routerLink="auth/anexar-comprovante">Anexar documento</a>
    </div>

  </div>
  <button type="button" class="w-8 h-8" (click)="toggleMenu()">
    <div [ngClass]="toggle ? 'transition-all rotate-180' : 'transition-all rotate-0'">
      <fa-icon class="text-3xl" [icon]="faCircleArrowRight">
      </fa-icon>
    </div>
  </button>
</div>
